/* CUSTOM STORY STYLE */
#hair_dimensions
	width 1820px
	height 980px
	position absolute

	.dim__text
		position absolute
		top 60%
		left 53%
		transform translate(-50%, -50%)
		width 900px

		p
			font-family $cooper
			font-weight 700
			margin 0
			set-type-size('xxxx-large', true)
			line-height 1.2
			opacity 0
			color $off-black

			span
				opacity 0

	#dimText2
		top 50% !important
		left 50% !important

	.dim1
		position absolute
		top 249px
		left 0px

		&__img
			width 110px
			position absolute
			left 120px

			img
				position absolute
				opacity 0
				//mix-blend-mode darken

		// .dim_1_0
		// 	opacity 1

		&__color
			width 50px
			height 50px
			background-color $hb-yellow
			position absolute
			top 110px
			left 70px
			opacity 0

			p
				text-align center
				font-family $cooper
				color $hb-paper
				set-type-size('xx-large', true)
				margin 0
				padding 0

		&__name
			position absolute
			top 120px
			left 130px
			opacity 0

			p
				font-family $courier
				font-weight 700
				margin 0
				padding 0
				set-type-size('x-large', true)
				line-height 1
				color $off-black

		&__lines
			z-index set-index('overlay')
			width 200px
			height 200px
			position absolute
			top -20px
			left 30px

			svg
				stroke $off-black

				path
					opacity 0

	.dim2
		position absolute
		top 249px
		left 480px

		&__img
			width 110px
			position absolute
			left 120px

			img
				position absolute
				opacity 0
				//mix-blend-mode darken

		// .dim_2_0
		// 	opacity 1

		&__color
			width 50px
			height 50px
			background-color $hb-red
			position absolute
			top 110px
			left 70px
			opacity 0

			p
				text-align center
				font-family $cooper
				color $hb-paper
				set-type-size('xx-large', true)
				margin 0
				padding 0

		&__name
			position absolute
			top 120px
			left 130px
			opacity 0

			p
				font-family $courier
				font-weight 700
				margin 0
				padding 0
				set-type-size('x-large', true)
				line-height 1
				color $off-black

		&__lines
			z-index set-index('overlay')
			width 200px
			height 200px
			position absolute
			top -20px
			left 30px

			svg
				stroke $off-black

				path
					opacity 0

	.dim3
		position absolute
		top 249px
		left 960px

		&__img
			width 110px
			position absolute
			left 120px

			img
				position absolute
				opacity 0
				//mix-blend-mode darken

		// .dim_3_0
		// 	opacity 1

		&__color
			width 50px
			height 50px
			background-color $hb-green
			position absolute
			top 110px
			left 70px
			opacity 0

			p
				text-align center
				font-family $cooper
				color $hb-paper
				set-type-size('xx-large', true)
				margin 0
				padding 0

		&__name
			position absolute
			top 120px
			left 130px
			opacity 0

			p
				font-family $courier
				font-weight 700
				margin 0
				padding 0
				set-type-size('x-large', true)
				line-height 1
				color $off-black

		&__lines
			z-index set-index('overlay')
			width 200px
			height 200px
			position absolute
			top -20px
			left 30px

			svg
				stroke $off-black

				path
					opacity 0

	.dim4
		position absolute
		top 249px
		left 1440px

		&__img
			width 110px
			position absolute
			left 120px

			img
				position absolute
				opacity 0
				//mix-blend-mode darken

		// .dim_4_0
		// 	opacity 1

		&__color
			width 50px
			height 50px
			background-color $hb-blue
			position absolute
			top 110px
			left 70px
			opacity 0

			p
				text-align center
				font-family $cooper
				color $hb-paper
				set-type-size('xx-large', true)
				margin 0
				padding 0

		&__name
			position absolute
			top 120px
			left 130px
			opacity 0

			p
				font-family $courier
				font-weight 700
				margin 0
				padding 0
				set-type-size('x-large', true)
				line-height 1
				color $off-black

		&__lines
			z-index set-index('overlay')
			width 200px
			height 200px
			position absolute
			top -20px
			left 30px

			svg
				stroke $off-black

				path
					opacity 0

	.dim1_span, .dim2_span, .dim3_span, .dim4_span
		white-space nowrap

	.dim1_span
		border-bottom	3px solid $hb-yellow

	.dim2_span
		border-bottom	3px solid $hb-red

	.dim3_span
		border-bottom	3px solid $hb-green

	.dim4_span
		border-bottom	3px solid $hb-blue
