.frame1Color, .frame2Color, .frame3Color, .frame4Color
	opacity 0
	z-index set-index('bottom')

.f1-1
	width 50px
	height 50px
	background-color $hb-yellow
	position absolute
	top 905px
	left 77px

.f1-2
	width 50px
	height 50px
	background-color $hb-blue
	position absolute
	top 89px
	left 1703px

.f2-1
	width 50px
	height 50px
	background-color $hb-green
	position absolute
	top 77px
	left 242px

.f2-2
	width 50px
	height 50px
	background-color $hb-yellow
	position absolute
	top 500px
	left 1763px

.f3-1
	width 50px
	height 50px
	background-color $hb-red
	position absolute
	top 839px
	left 82px

.f3-2
	width 50px
	height 50px
	background-color $hb-blue
	position absolute
	top 76px
	left 1750px

.f4-1
	width 50px
	height 50px
	background-color $hb-blue
	position absolute
	top 120px
	left 152px

.f4-2
	width 50px
	height 50px
	background-color $hb-green
	position absolute
	top 789px
	left 1764px
