#outro
	width 1820px
	height 980px
	position absolute
	display flex
	align-items center

	.outro__text
		position absolute
		top 50%
		left 50%
		transform translate(-50%, -50%)
		width 900px

		p
			font-family $cooper
			font-weight 700
			margin 0
			set-type-size('xxxx-large', true)
			line-height 1.2
			opacity 0

			span
				opacity 0
