<section id='hair_dimensions'>
	<div class='dim1'>
		<div class='dim1__img'></div>
		<div class='dim1__color'>
			<p>1</p>
		</div>
		<div class='dim1__name'>
			<p>Face framing</p>
		</div>
		<div class='dim1__lines'>
			<img inline src='dimension-lines.svg'>
		</div>
	</div>
	<div class='dim2'>
		<div class='dim2__img'></div>
		<div class='dim2__color'>
			<p>2</p>
		</div>
		<div class='dim2__name'>
			<p>Volume</p>
		</div>
		<div class='dim2__lines'>
			<img inline src='dimension-lines.svg'>
		</div>
	</div>
	<div class='dim3'>
		<div class='dim3__img'></div>
		<div class='dim3__color'>
			<p>3</p>
		</div>
		<div class='dim3__name'>
			<p>Asymmetry</p>
		</div>
		<div class='dim3__lines'>
			<img inline src='dimension-lines.svg'>
		</div>
	</div>
	<div class='dim4'>
		<div class='dim4__img'></div>
		<div class='dim4__color'>
			<p>4</p>
		</div>
		<div class='dim4__name'>
			<p>Growth (up or down)</p>
		</div>
		<div class='dim4__lines'>
			<img inline src='dimension-lines.svg'>
		</div>
	</div>
	<div class='dim__text' id='dimText1'>
		{{#each copy.dimensionText1}}
			<p>{{{value}}}</p>
		{{/each}}
	</div>
	<div class='dim__text' id='dimText2'>
		{{#each copy.dimensionText2}}
			<p>{{{value}}}</p>
		{{/each}}
	</div>
</section>
