<section id='labels'>
	<p class='top-label'><span><img inline src='arrow-up.svg'></span>Bigger median hair</p>
	<p class='bottom-label'><span><img inline src='arrow-down.svg'></span>Smaller median hair</p>
</section>
