<div class='intro__lines'>
	<img inline src='intro-lines.svg'>
</div>
<div class='frame__lines__1'>
	<img inline src='frame-lines-1.svg'>
	<div class='f1-1 frame1Color'></div>
	<div class='f1-2 frame1Color'></div>
</div>
<div class='frame__lines__2'>
	<img inline src='frame-lines-2.svg'>
	<div class='f2-1 frame2Color'></div>
	<div class='f2-2 frame2Color'></div>
</div>
<div class='frame__lines__3'>
	<img inline src='frame-lines-3.svg'>
	<div class='f3-1 frame3Color'></div>
	<div class='f3-2 frame3Color'></div>
</div>
<div class='frame__lines__4'>
	<img inline src='frame-lines-4.svg'>
	<div class='f4-1 frame4Color'></div>
	<div class='f4-2 frame4Color'></div>
</div>
