<section id='outro'>
	<div class='outro__text' id='outro1'>
		{{#each copy.outro1}}
			<p>{{{value}}}</p>
		{{/each}}
	</div>
	<div class='outro__text' id='outro2'>
		{{#each copy.outro2}}
			<p>{{{value}}}</p>
		{{/each}}
	</div>
</section>
