<section id='yearbook_photos'>
	<div class='chart-label top-label-female'>
		<img inline src='arrow-up.svg'>
		<p class='swap-size'>Bigger median hair</p>
	</div>
	<div class='chart-label bottom-label-male'>
		<p class='swap-size'>Smaller median hair</p>
		<img inline src='arrow-down.svg'>
	</div>
	<div class='chart-label top-label-diff'>
		<img inline src='arrow-up.svg'>
		<p class='swap-size'>Bigger difference</p>
	</div>
	<div class='chart-label bottom-label-diff'>
		<p class='swap-size'>Smaller difference</p>
		<img inline src='arrow-down.svg'>
	</div>
	<figure></figure>
	<div class='photo__text' id='avgGridText1'>
		{{#each copy.avgGridText1}}
			<p>{{{value}}}</p>
		{{/each}}
	</div>
	<div class='photo__text' id='avgGridText2'>
		{{#each copy.avgGridText2}}
			<p>{{{value}}}</p>
		{{/each}}
	</div>
</section>
